{% include 'base.html.twig' %}

<main class="container">
    {% block title %} Dashboard {% endblock %}

    {% block body %}

        {% for flashSuccess in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
        {% endfor %}

        <h1>Welcome,{{ app.user.email }} </h1>
    {% endblock %}
</main>
